@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,500&family=Merienda&display=swap');
:root {
--heading-font: Merienda;
--paragraph-font: "Libre Bodoni", Helvetica, sans-serif;
}
#content {
  max-width: 1600px;
  margin: 0 auto;
  font-family: Helvetica;
}
.home-title {
  font-family: var(--heading-font);
  font-size: 2em;
  margin-top: 10px;
}
#logo_link {width: 8px;
  padding-top: 5px;
}
nav {
  background-color: #bbc5c2;
  padding: 20px;
  margin: 10px auto;
  border: 5px solid #577590;
  }
nav a{
  text-align: center;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  padding: 25px;
  }
a:hover {
    background-color: #43aa8b;
    color:white;
      }
#hero-msg {
  text-align: center;
  color: #577590;
  font-weight: bolder;
  font-size: 30px;
  font-family: var(--paragraph-font); 
}
#hero-img {
  width: 100%;
  box-sizing: border-box;
  border: 5px solid #577590;
}
h1 {
  text-align: center;
  font-size: 35px;
}
h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-family: var(--heading-font);
}
.button-box {
  text-align: center;
  color: blue;
  text-decoration: none;
  font-weight: bolder;
  }
  a.book, a.join {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
  }
main section {
  text-align: center;
}
main section img {
  box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
#background {
  height: 725px;
  background-color: #577590;
  color: red;
}
.card-img {
  border: 5px solid #577590;
}
body {
background-color: white;
font-family: var(--paragraph-font);
color: red;
margin: 0;
padding: 0;
}
header {
  background-color: white;
  color: red;
}
.book {
  background-color: #577590;
  color: darkblue;
  font-size: 30px;
  }
.join {
  background-color: white;
  color: #577590;
  text-decoration: none;
  font-weight: bolder;
  align-content: center;
  text-align: center;
}
.book:hover {
  background-color: black;
  color: red;
}
.join:hover {
  background-color: black;
  color: white;
}
.mountains {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  box-sizing: border-box;
  border: 5px solid #577590;
}
.msg p {
  background-color: #577590;
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding-bottom: 10px;
  margin: 50px;
  }
  .msg {
    background-color: #577590;
    color: white;
    text-align: center;
    padding: 50px;
    line-height: 1.5em;
    font-family: var(--paragraph-font);

  }
.icon {
  width: 40px;
  text-decoration: none;
}
.footer-social {
  background-color: #43aa8b;
  text-decoration: none;
  padding: 15px;
  color: white;
  margin: 20px auto;
  font-family: Helvetica;
  }
footer a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin-bottom: 25%;
  margin-top: 200px;
  }

